# DEVELOPMENT | PRODUCTION
APP_ENV=DEVELOPMENT

DEFAULT_TIMEZONE=Africa/Lagos

# Instructs Lay to compress the output HTMl in production
COMPRESS_HTML=true

# Instructs Lay to cache all the domains of the application in production
# instead of auto-discovering it all the time
CACHE_DOMAINS=true

# Instructs Lay to compress the JS/CSS assets before deploying to VCS
# Which means, the minified and tree-shaken version of these assets will be served in production.
COMPRESS_ASSETS=true

# -- START DATABASE
# pgsql|mysql|sqlite
DB_DRIVER=pgsql

DB_HOST=127.0.0.1
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=test
DB_PORT=3306
DB_ALLOW_STARTUP_ERROR=false
DB_SSL_KEY=
DB_SSL_CERTIFICATE=
DB_SSL_CA_CERTIFICATE=
DB_SSL_CA_PATH=
DB_SSL_CIPHER_ALGOS=
DB_SSL_FLAG=

SQLITE_DB=
SQLITE_ENCRYPT_KEY=
# Timeout is in milliseconds
SQLITE_BUSY_TIMEOUT=
# -- END DATABASE

# -- START EMAIL SENDING ENVs
SMTP_HOST=
SMTP_PORT=
SMTP_PROTOCOL=tls
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_MAX_QUEUE_ITEMS=5
DEFAULT_SENDER_EMAIL=
DEFAULT_SENDER_NAME=

# How long in [days] stale emails should stay before we delete them
DELETE_STALE_MAILS=true
DELETE_SENT_MAILS=true
STALE_MAILS_TTL=15
# -- STOP EMAIL SENDING ENVs

AWS_ACCESS_KEY_ID=
AWS_ACCESS_KEY_SECRET=
CLOUDFLARE_ACCOUNT_ID=
BUCKET_NAME=